// Section-Header Starts Here 
.section-header {
    margin-bottom: 42px;
    @include breakpoint (max-md) {
        margin-bottom: 35px;
    }
    @include breakpoint (max-sm) {
        margin-bottom: 30px;
    }
    &__subtitle {
        font-weight: 600;
        color: #6D6B72;
        @include breakpoint (max-xxl) {
            font-size: 36px;
        }
        @include breakpoint (max-md) {
            font-size: 28px;
        }
        @include breakpoint (max-sm) {
            font-size: 22px;
        }
    }
    &__title {
        font-size: 64px;
        margin-bottom: 17px;
        @include breakpoint (max-xxl) {
            font-size: 48px;
        }
        @include breakpoint (max-md) {
            font-size: 42px;
            margin-bottom: 15px;
        }
        @include breakpoint (max-sm) {
            font-size: 34px;
            margin-bottom: 10px;
        }
    }
    &__content {
        font-size: 24px;
        color: #6D6B72;
        @include breakpoint (max-xxl) {
            font-size: 20px;
        }
        @include breakpoint (max-sm) {
            font-size: 18px;
        }
    }
}

// Section-Title Starts Here 
.section-title {
    margin-bottom: 50px;
    @include breakpoint (max-xl) {
        margin-bottom: 40px;
    }
    @include breakpoint (max-sm) {
        margin-bottom: 30px;
    }
    &__title {
        line-height: 1;
    }
}

// Learning-Section Starts Here
.learning-left {
    @include breakpoint (lg) {
        margin-top: 122px;
    }
}
.learning-item {
    position: relative;
    background: hsl(var(--white));
    box-shadow: 0px 9px 91px rgba(141, 158, 189, 0.12);
    border-radius: 16px;
    padding: 30px;
    height: 210px;
    z-index: 1;
    overflow: hidden;
    @include breakpoint (max-xxl) {
        padding: 20px;
        height: 180px;
    }
    @include breakpoint (max-xl) {
        padding: 20px;
        height: 150px;
    }
    &__title {
        line-height: 1;
        font-size: 64px;
        @include breakpoint (max-xxl) {
            font-size: 48px;
        }
    }
    &__subtitle {
        line-height: 1;
        font-size: 24px;
        font-weight: 600;
        color: #56545C;
        @include breakpoint (max-xxl) {
            font-size: 20px;
            margin-bottom: 5px;
        }
    }
    .shape {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -1;
        img {
            width: 100%;
            object-fit: contain;
        }
    }
}
.learning-right {
    @include breakpoint (max-xl) {
    div[class*="col"]:nth-child(1) {
        .shape  {
            width: 120px;
        }
        .shape-w  {
            width: 70px;
        }
        }
    }
    @include breakpoint (max-xl) {
        .shape-w-two  {
            width: 90px;
        }
    }   
    @include breakpoint (max-lg) {
        margin-top: 50px;
    }
    @include breakpoint (max-sm) {
        margin-top: 40px;
    }
}


// What-Toppers Section Starts Here
.what-toppers {
    background-color: #F2F3F4;
    padding-top: 67px;
    padding-bottom: 60px;
    position: relative;
    overflow: hidden;
    z-index: 1;
    .shapes {
        .shape1 {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
        }
        .shape2 {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: -1;
        }
    }
}
.card-item {
    padding: 33px 30px;
    background-color: hsl(var(--white));
    border-radius: 4px;
    position: relative;
    @include breakpoint (max-xl) {
        padding: 25px 20px;
    }
    .quote {
        position: absolute;
        bottom: 30px;
        right: 40px;
    }
    &__header {
        margin-bottom: 22px;
        @include breakpoint (max-sm) {
            margin-bottom: 15px;
        }
        .content {
            .name {
                margin-bottom: 3px;
                @include breakpoint (max-md) {
                    font-size: 16px;
                }
            }
        }
        .ratting {
            font-size: 20px;
            line-height: 1;
            @include breakpoint (max-xxl) {
                font-size: 18px;
            }
            @include breakpoint (max-xl) {
                font-size: 15px;
            }
            span {
                font-weight: 600;
                padding-left: 6px;
            }
        }
    }
    p {
        font-size: 14px;
        max-width: 310px;
        margin-bottom: 0;
    }
    .user-wrapper {
        .thumb {
            padding-right: 10px;
        }
    }
}
.what-slider {
    margin-bottom: 95px;
    margin-inline: -25px;
    @include breakpoint (xl) {
        .custom-row-gap {
            --bs-gutter-x: 50px;
            --bs-gutter-y: 30px;
            margin-bottom: 60px;
        }
    }
    @include breakpoint (lg) {
        .custom-row-gap {
            --bs-gutter-x: 30px;
            --bs-gutter-y: 24px;
            margin-bottom: 40px;
        }
    }
    @include breakpoint (max-lg) {
        .custom-row-gap {
            --bs-gutter-y: 24px;
        }
    }
    .single-slide {
        margin-bottom: 86px;
        padding-inline: 25px;
        @include breakpoint (lg) {
            margin-bottom: 50px;
        }
        @include breakpoint (max-md) {
            margin-bottom: 40px;
        }
        @include breakpoint (max-sm) {
            margin-bottom: 35px;
        }
    }
    .slick-dots {
        li {
            background-color: #CECECE;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            &.slick-active {
                background-color: hsl(var(--base));
            }
        }
    }
    @include breakpoint (lg) {
    div[class*="col"]:nth-of-type(3n + 2) {
    .card-item  { 
        transform: translateY(60px);
        @include breakpoint (lg) {
            transform: translateY(40px);
            
        }
        }
    }
    }
}

// Benefits-Section Starts Here
.benefits-item {
    padding: 59px 30px 40px;
    background-color: hsl(var(--white));
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-between;
    @include breakpoint (max-xl) {
        
    }
    &__thumb {
        margin-bottom: 28px;
        height: 150px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        img {
            height: 100%;
            object-fit: contain;
        }
    }
    &__title {
        margin-bottom: 30px;
        text-align: center;
    }
}
.benefits__list {
    max-width: 330px;
    margin: 0 auto 65px;
    li {
        font-weight: 500;
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        span {
            width: 25px;
            display: block;
            img {
                width: 100%;
            }
        }
        p {
            width: calc(100% - 25px);
            padding-left: 10px;
            display: block;
        }
    }
}
.red-btn {
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
    color: hsl(var(--base));
    display: flex;
    align-items: center;
    width: 145px;
    margin: 0 auto;
    @include breakpoint (max-xxl) {
        font-size: 18px;
    }
    span {
        font-size: 25px;
        padding-right: 12px;
        @include breakpoint (max-xxl) {
            font-size: 22px;
        }
    }
}

// How-Section Starts Here 
.how-section {
    background-color: #FCFCFC;
}
.how-item {
    padding: 59px 35px 55px;
    background-color: hsl(var(--white));
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    height: 100%;
    box-shadow: 0px 9px 91px rgba(141, 158, 189, 0.12);
    @include breakpoint (max-xl) {
        padding: 50px 35px 50px; 
    }
    @include breakpoint (max-md) {
        padding: 50px 25px 40px;
    }
    @include breakpoint (max-sm) {
        padding: 45px 25px 35px;
    }
    &__thumb {
        margin-bottom: 15px;
        height: 110px;
        img {
            height: 100%;
            object-fit: contain;
        }
    }
    &__title {
        margin-bottom: 17px;
    }
    &__content {
        font-size: 14px;
        font-weight: 500;
        margin: 0 auto 12px;
        max-width: 232px;
    }
}

// Exam-Section Starts Here 
.exam-top {
    margin-bottom: 50px;
    .title {
        margin-bottom: 25px;
        font-size: 40px;
        @include breakpoint (max-xl) {
            font-size: 35px;
        }
        @include breakpoint (max-lg) {
            font-size: 32px;
            margin-bottom: 40px;
        }
        @include breakpoint (max-sm) {
            font-size: 24px;
            margin-bottom: -7px;
        }
        span {
            color: #656565;
        }
    }
}
.d-none {
    display: none;
}
/* Make circles that indicate the steps of the form: */
.step {
  height: 10px;
  width: 15px;
  margin: 0 2px;
  background-color: hsl(var(--base));
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.11;
  &.finish {
    background-color: hsl(var(--base));
    opacity: 1;
  }
}

.step.active {
  opacity: 1;
}
.exam-section {
    padding-top: 50px;
    padding-bottom: 200px;
    position: relative;
    z-index: 1;
    @include breakpoint (max-xl) {
        padding-bottom: 100px;
        padding-top: 40px;
    }
    @include breakpoint (max-sm) {
        padding-bottom: 70px;
        padding-top: 10px;
    }
}
.exam-shapes {
    .shape1 {
        position: absolute;
        z-index: -1;
        left: 0;
        bottom: 0;

    }
    .shape2 {
        position: absolute;
        z-index: -1;
        right: 0;
        bottom: 0;

    }
}
.eaxm-wrapper {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    .exam-item {
        padding: 20px 20px 30px;
        border-radius: 11px;
        border: 1px solid hsl(var(--border));
        background-color: hsl(var(--white));
        .text {
            @include breakpoint (max-xl) {
                margin-bottom: 10px;
            }
        }
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        .title {
            margin-bottom: 20px;
            @include breakpoint (max-sm) {
                margin-bottom: 15px;
            }
        }
        .exam-select {
            gap: 0 55px;
            @include breakpoint (max-xl) {
                gap: 0 45px;
            }
            @include breakpoint (max-lg) {
                gap: 0px 30px;
            }
            @include breakpoint (max-sm) {
                gap: 5px 20px;
            }
            .form-group {
                display: flex;
                align-items: center;
            }
            input {
                padding-inline: 5px;
                width: 17.5px;
                height: 17.5px;
                @include breakpoint (max-xl) {
                    padding: 0;
                }
                @include breakpoint (max-lg) {
                    width: 15px;
                    height: 15px;
                }
            }
            label {
                font-family: 'Inter', sans-serif;
                font-size: 20px;
                line-height: 1;
                padding-left: 20px;
                @include breakpoint (max-xl) {
                    font-size: 18px;
                    padding-left: 15px;
                }
                @include breakpoint (max-lg) {
                    padding-left: 10px;
                    font-size: 16px;
                }
                @include breakpoint (max-sm) {
                    padding-left: 5px;
                }
            }
        }
    }
}
.progress-exam {
    position: absolute;
    left: 50%;
    top: -80px;
    transform: translateX(-50%);
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    margin-inline: 0 ;
    padding: 0;
    @include breakpoint (max-lg) {
        top: -75px;
    }
    .step {
        border-radius: 0;
        margin-inline: 0 ;
        width: 100px;
        @include breakpoint (max-lg) {
            width: 70px;
        }
        @include breakpoint (max-sm) {
            width: 50px;
        }
    }
}
.next-pre-wrapper {
    gap: 20px;
    margin-top: 18px;
    .btn-modal {
        width: 210px;
        height: 52px;
        line-height: 52px;
        padding: 0;
        @include breakpoint (max-sm) {
            width: 100px;
            height: 42px;
            line-height: 42px;
        }
    }
}
.download-wrapper {
    gap: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
    .thumb {
        position: relative;

    }
}
.icon-wrapper {
    position: absolute;
    right: 8px;
    top: 7px;
    gap: 6px;
    li {
        width: 22px;
        height: 22px;
        line-height: 22px;
        border-radius: 4px;
        text-align: center;
        font-size: 14px;
        background-color: hsl(var(--white));
        cursor: pointer;
        
    }
}